<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
	<style>
	.jumbotron{
		width: 400px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
	<title>Administação</title>
</head>
<body>
	<div th:include="fragments/menu"></div>
	<div class="jumbotron">
		<div class="">
			<h3>Selecione para cadastrar</h3></br>
			<a href="/admin/vinho">+Vinhos</a>
			<div class="or" data-text="ou"></div>
			<a href="/admin/usuario">+Usuários</a>
		</div>
	</div>
</body>
</html>