<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Gestão de vinhos - Administação</title>
<body>
	<div class="ui container segment">
		<div class="ui fluid buttons">
			<a href="/admin/vinho" class="ui button">Vinhos</a>
			<div class="or" data-text="ou"></div>
			<a href="/admin/usuario" class="ui button">Usuários</a>
		</div>
	</div>
	<div class="ui container segment">
		<div id="titleContainer" class="ui items">
			<div class="item">
				<div class="content">
					<h1 class="ui header">Início</h1>
				</div>
			</div>
		</div>
	</div>
</body>
</html>