<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Usuário</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/usuario">Voltar	</a>
	<br/>
	<span th:text="${error}" />
	<span th:text="${success}" />

	<div class="jumbotron">
		<h3>Detalhes do usuário</h3>
		<form class="" method="POST" th:object="${user}" th:action="@{/admin/usuario/{id}(id=${user.id})}">
			<input type="hidden" th:field="*{id}" />
			<label>Nome: </label>
			<input type="text" class="form-control" id="name" th:field="*{name}" />
			<label>Usuário: </label>
			<input type="text" class="form-control" id="username" th:field="*{username}" />
			<label>Senha: </label>
			<input type="password" class="form-control" id="password" name="password" />
			<label>Confirmação da senha: </label>
			<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" />
			<label>Permissão:</label>
				<select name="idRole" required="required">
					<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="(${role.id} == *{idRole})"></option>
				</select>
			<br/>
			<br/>
			<input type="submit" id="login" class="btn btn-primary" value="Editar" />
		</form>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>