<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Usuário</title>
</head>

<body>
	<a href="/admin/usuario">Voltar	</a>
	<div class="jumbotron">
		<h3>Detalhes do usuário</h3>
		<form class="" method="POST" th:object="${user}" th:action="@{/admin/usuario/{id}(id=${user.id})}">
			<input type="hidden" th:field="*{id}" />
			<div class="field">
				<div class="ui left labeled right icon input">
					<div class="ui label">
						Nome:
					</div>
					<input type="text" id="name" th:field="*{name}" />
				</div>
			</div>
			<div class="field">
				<div class="ui left labeled right icon input">
					<div class="ui label">
						Usuário:
					</div>
					<input type="text" id="username" th:field="*{username}" />
				</div>
			</div>
			<div class="field">
				<div class="ui left labeled right icon input">
					<div class="ui label">
						Senha:
					</div>
					<input type="password" id="password" name="password" />
				</div>
			</div>
			<div class="field">
				<div class="ui left labeled right icon input">
					<div class="ui label">
						Confirmação:
					</div>
					<input type="password" id="passwordConfirm" name="passwordConfirm" />
				</div>
			</div>
			<div class="field">
					<div class="ui label">
						Permissão:
					</div>
					<select name="idRole" class="ui dropdown fluid" required="required">
							<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="(${role.id} == *{idRole})"></option>
					</select>
				</div>
			</div>
			<div class="field">
				<input type="submit" id="login" class="ui fluid blue button" value="Alterar" />
			</div>
		</form>
	</div>
	</div>
	<div class="ui red message" th:if="${error}"><span th:text="${error}" /></div>
	<div class="ui green message" th:if="${success}"><span th:text="${success}" /></div>
	</div>
	</div>
</body>

</html>