<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Vinhos do usuário</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/vinho">Voltar</a>
	<br/>
	<span th:text="${error}"/>
	<span th:text="${success}"/>

	<div class="jumbotron">
		<h3>Usuários</h3>
		<a class="btn btn-success" href="/admin/usuario/novo">Adicionar Usuário</a>
		<br/>
			<div class="list-group">
				<div class="list-group-item list-group-item-action" th:each="user: ${users}">
					<a th:text="${user.name}" th:href="@{ /admin/usuario/{id}(id=${user.id}) }"></a>
					<a class="btn btn-danger" th:href="@{ /admin/usuario/{id}/delete(id=${user.id}) }">Excluir</a>
				</div>
			</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>