<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Gestão de vinhos - Novo usuário</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/usuario">Voltar	</a>
	<br/>
	<span th:text="${error}" />
	<span th:text="${success}" />

	<div class="jumbotron">
		<h3>Cadastrar usuário</h3>
		<form method="POST" th:object="${user}" th:action="@{/admin/usuario/novo}">
			<input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nome do usuário" required="required"/>
			<input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Login" required="required"/>
			<input type="password" class="form-control" id="password" name="password" placeholder="Senha de acesso" required="required"/>
			<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmação de senha" required="required"/>
			<br/>
			<label>Permissão:</label>
			<select name="idRole" class="ui dropdown fluid" required="required">
				<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
			</select>
			<br/>
			<input type="submit" id="login" class="btn btn-primary" value="Cadastrar"/>
		</form>
	</div>
</body>
</html>