<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
	<style>
	.jumbotron{
		width: 400px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
	<title>Usuário</title>
</head>
<body>
	<div th:include="fragments/menu"></div>
	<div class="ui middle aligned center aligned grid">
		<div class="jumbotron">
			<h2 class="ui header">
				<div class="content">Dados do usuário</div>
			</h2>
			<div class="ui stacked segments">
				<div class="ui segment">
					<form class="ui form" method="POST" th:object="${user}" th:action="@{/admin/usuario/novo}">
						<div class="field">
							<div class="ui left labeled right icon input">
								<div class="ui label">
									Nome:
								</div>
								<input class="form-control" type="text" id="name" th:field="*{name}" placeholder="Nome do usuário" required="required"/>								
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled right icon input">
								<div class="ui label">
									E-mail:
								</div>
								<input class="form-control" type="email" id="username" th:field="*{username}" placeholder="E-mail de acesso" required="required"/>
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled right icon input">
								<div class="ui label">
									Senha:
								</div>
								<input class="form-control" type="password" id="password" name="password" placeholder="Senha de acesso" required="required"/>								
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled right icon input">
								<div class="ui label">
									Confirmação:
								</div>
								<input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmação de senha de acesso" required="required"/>
								
							</div>
						</div>
						<div class="field">
							<input type="submit" id="login" class="btn btn-primary" value="Cadastrar"/>
						</div>
						<br>
						<a href="/admin/usuario">Voltar</a>
					</form>
				</div>
			</div>
			<div class="ui red message" th:if="${error}"><span th:text="${error}" /></div>
		</div>
	</div>
</body>
</html>