<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Informações do vinho</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/vinho">	Voltar</a>
	<br/>
	<span th:text="${error}"></span>
	<span th:text="${success}"></span>

	<form class="jumbotron" method="POST" enctype="multipart/form-data" th:object="${wine}" th:action="@{/admin/vinho/{id}(id=${wine.id})}">
		<h3>Informações do vinho</h3>
		<br/>
		<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }" height="150px" width="150px"/>
		<br/>
		<br/>
		<input class="form-control" id="nome" th:field="*{nome}" required="required"/>
		<input class="form-control" id="vinicola" th:field="*{vinicola}"  required="required"/>
		<br/>
		<label>Tipo:</label>
		<label>Imagem:</label>
		<select name="idTipo" required="required">
			<option th:each="type: ${types}" th:value="${type.id}" th:text="${type.descricao}" th:selected="(${type.id} == *{idTipo})" ></option>
		</select>
		<input type="file" id="imagem" name="imagem" />
		<br/>
		<br/>
		<input type="submit" id="cadastrar" class="btn btn-primary" value="Editar"/>
	</form>
	<div class="list-group">
		<div th:if="${avaliations}">
			<h3>Avaliações</h3>
			<div class="list-group-item list-group-item-action" th:each="avaliation: ${avaliations}">
				<span th:text="${avaliation.user.name}"></span>
				<span th:text="${#dates.format(avaliation.dateTime, 'dd-MM-yyyy')}"></span>
				<span th:text="${avaliation.descricao}"></span>
				<a class="btn btn-danger" th:href="@{ /admin/vinho/{vid}/avaliacao/{id}/delete(vid=${wine.id}, id=${avaliation.id}) }">Excluir</a>
			</div>
		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
