<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>Lista de Vinhos</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/usuario">Acessar Usuários</a>
	<br/>
	<a href="/admin">Voltar</a>

	<div><span th:text="${error}"/></div>
	<div ><span th:text="${success}"/></div>

	<br/>
	<a href="/admin/vinho/novo" class="btn btn-success">Adicionar Vinho</a>
	<br/>
	<br/>
	<h3>Vinhos</h3>
	<br/>

	<div class="list-group">
		<div class="list-group-item list-group-item-action" th:each="wine: ${wines}">
			<span th:href="@{ /admin/vinho/{id}(id=${wine.id}) }"></span>
			<br/>
			<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }" height="150px" width="150px"/>
			<br/>
			Descrição:
			<span th:text="${wine.nome}" th:href="@{ /admin/vinho/{id}(id=${wine.id}) }"></span>
			<br/>
			Vinícola:
			<span th:href="@{ /admin/vinho/{id}(id=${wine.id}) }" th:text="${wine.vinicola}"></span>
			<br/>
			Avaliações Positivas:
			<span th:text="${wine.aviliacoesPositivas}">0</span>
			<br/>
			Avaliações Negativas:
			<span th:text="${wine.aviliacoesNegativas}">0</span>
			<br/>
			<br/>
			<a th:href="@{ /admin/vinho/{id}/delete(id=${wine.id}) }" class="btn btn-danger">Excluir</a>
			<a th:href="@{ /admin/vinho/{id}(id=${wine.id}) }" class="btn btn-success">Editar</a>
		</div>
	</div>

	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
