<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Cadastrar vinho</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/admin/vinho">Voltar</a>
	<br/>
	<form class="jumbotron" method="POST" enctype="multipart/form-data" th:object="${wine}" th:action="@{/admin/vinho/novo}">
		<h3>Cadastrar vinho</h3>
		<input class="form-control" type="text" id="nome" th:field="*{nome}" placeholder="Nome do vinho" required="required"/>
		<br/>
		<input class="form-control" type="text" id="vinicola" th:field="*{vinicola}" placeholder="Nome da vinícola" required="required"/>
		<br/>
		<label>Tipo:</label>
		<select name="idTipo" class="ui dropdown fluid" required="required">
			<option th:each="type: ${types}" th:value="${type.id}" th:text="${type.descricao}"></option>
		</select>
		<br/>
		<label>Imagem:</label>
			<input type="file" name="imagem" required="required"/>
		<br/>
		<br/>
		<input type="submit" id="cadastrar" class="btn btn-primary" value="Cadastrar"/>
	</form>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>