<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
	<style>
	.jumbotron{
		width: 400px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
	<title>Incluir Vinho</title>
</head>
<body>
<div th:include="fragments/menu"></div>
<div class="jumbotron">
	<div class="column">
		<h2 class="ui header">
			<div class="content">Cadastrar vinho</div>
		</h2>
		<div class="ui stacked segments">			
			<div class="ui segment">
				<form class="ui form" method="POST" enctype="multipart/form-data" th:object="${wine}" th:action="@{/admin/vinho/novo}">
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Nome:
							</div>
							<input class="form-control" type="text" id="nome" th:field="*{nome}" placeholder="Nome do vinho" required="required"/>
							
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Vinícola:
							</div>
							<input class="form-control" type="text" id="vinicola" th:field="*{vinicola}" placeholder="Nome da vinícola" required="required"/>
							
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Tipo:
							</div>
							<select name="idTipo" class="form-control" required="required">
								<option th:each="type: ${types}" th:value="${type.id}" th:text="${type.descricao}"></option>
							</select>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled right icon input">
							<div class="ui label">
								Imagem:
							</div>
							<input type="file" name="Imagem"/>
						</div>
					</div>
					<br>
						<input type="submit" id="cadastrar" class="btn btn-primary btn-bloc" value="Cadastrar"/>
						<br>
						<a href="/admin/vinho">Voltar</a>
			
				</form>
			</div>
		</div>
		<div class="ui red message" th:if="${error}"><span th:text="${error}" /></div>
	</div>
</div>
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>