<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Avaliar vinho</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<div><span th:text="${error}"/></div>
	<div ><span th:text="${success}"/></div>
	<a th:href="@{ /vinhos/vinho/{id}(id=${wine.id}) }">Voltar</a>
	<div class="jumbotron">
		<h3>Avaliação</h3>
		<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }" width="150px" height="150px"/>
		<br/>
		<div class="header" th:text="${wine.nome}"></div>
		<span th:text="${wine.vinicola}"></span>
		<br/>
		Avaliações positivas:
		<span th:text="${wine.aviliacoesPositivas}">0</span>
		<br/>
		Avaliações negativas:
		<span th:text="${wine.aviliacoesNegativas}">0</span>
		<br/>
		<br/><br/>
		<form method="POST" th:object="${avaliation}" th:action="@{/vinhos/vinho/{id}/avaliar(id=${wine.id})}">
			<label>Comentários:</label>
			<br/>
			<textarea name="descricao" th:field="*{descricao}"></textarea>
			<div class="ui radio checkbox">
				Bom
				<input type="radio" name="positivo" th:checked="(*{positivo} == true)" value="1" class="hidden"/>
			</div>
			<div class="ui radio checkbox">
				Ruim
				<input type="radio" name="positivo" th:checked="(*{positivo} == false)" value="0" class="hidden"/>
			</div>
			<br/>
			<input type="submit" id="login" class="btn btn-success" value="Enviar"/>
		</form>

	</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
