<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>Detalhes do vinho</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/vinhos/minhalista">Acessar lista</a>
	<br/>
	<a href="/inicio">Voltar</a>

	<span th:text="${error}"/>
	<span th:text="${success}"/>

	<div class="jumbotron">
		<h3>Informações do Produto: </h3>
		<br/>
        <img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }" width="150px" height="150px"/>
        <br/>
		Descrição:
		<span th:text="${wine.nome}"></span>
		<br/>
		Vinícola:
		<span th:text="${wine.vinicola}"></span>
		<br/><br/>
		Avaliações Positivas:
		<span th:text="${wine.aviliacoesPositivas}">0</span>
		<br/>
		Avaliações Negativas:
		<span th:text="${wine.aviliacoesNegativas}">0</span>
		<br/>
        <br/>
		<h4>Comentários do produto: </h4>
		<div  th:if="${avaliations}"></div>
		<div th:each="avaliation: ${avaliations}">
			<span th:text="${avaliation.user.name}"></span>
            <span th:text="${avaliation.descricao}"></span>
            <span th:text="${#dates.format(avaliation.dateTime, 'dd-MM-yyyy')}"></span>
		</div>
        <br/>
        <a th:href="@{ /vinhos/vinho/{id}/avaliar(id=${wine.id}) }">Avaliar Vinho</a>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
