<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Avaliações do usuário</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<a href="/inicio">Voltar</a>
	<span th:text="${error}"/>
	<span th:text="${success}"/>

	<h3>Minhas avaliações</h3>
	<div class="list-group">
		<div class="list-group-item list-group-item-action" th:each="avaliation: ${avaliations}">
			<img th:src="@{ /images/{filename}(filename=${avaliation.vinho.nomeImagem}) }" width="150px" height="150px"/>
			<br/>
			Descrição:
			<span th:text="${avaliation.vinho.nome}"></span>
			<br/>
			Vinícola:
			<span th:text="${avaliation.vinho.vinicola}"></span>
			<br/>
			Data avaliação:
			<span th:text="${#dates.format(avaliation.dateTime, 'dd-MM-yyyy')}"></span>
			<br/>
			Comentário da avaliação:
			<span class="description" th:text="${avaliation.descricao}"></span>
		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
