<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body>
	<a href="/inicio">Home</a>
	<br/>
	<a href="/vinhos/minhalista">Acessar lista</a>
	<br/>
	<a href="/admin">Painel administrativo (somente ADM)</a>
	<br/>
	<a href="/logout">Sair</a>
	<br/>
	<h3>Lista de Vinhos</h3>
	<div class="list-group">
		<div class="list-group-item list-group-item-action" th:each="wine: ${wines}">
			<a class="image" th:href="@{ /vinhos/vinho/{id}(id=${wine.id}) }">
			<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }" height="150px" width="150px" />
			</a>
			<div>
			<a class="header" th:text="${wine.nome}" th:href="@{ /vinhos/vinho/{id}(id=${wine.id}) }"></a>
					<div>	
						Avaliações Positivas 					
						<span th:text="${wine.aviliacoesPositivas}">0</span>
						<br />
						Avaliações Negativas 
						<span th:text="${wine.aviliacoesNegativas}">0</span>
					</div>
				</div>
			</div>
		</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>