<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Cadastro de Usuário</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<div class="jumbotron">
	<form class="form-group row" method="POST" th:object="${user}" th:action="@{/usuario/novo}">
		<h3>Cadastrar usuário</h3>
		<input class="form-control" type="text" id="name" th:field="*{name}" placeholder="Nome do usuário" required="required"/>
		<input class="form-control" type="text" id="username" th:field="*{username}" placeholder="Login" required="required"/>
		<input class="form-control" type="password" id="password" name="password" placeholder="Senha de acesso" required="required"/>
		<input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmação de senha de acesso" required="required"/>
		<input class="btn btn-primary btn-block" type="submit" id="login" value="Cadastrar"/>
	</form>
	<div th:if="${error}"><span th:text="${error}" /></div>
	<a href="/" class="btn btn-secondary">Cancelar</a>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>